<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LoveMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into T_LOVE(
			LOVEUSER,	
			FROMLOVEUSER,	
			LOVETIME,	
			NOTE1,	
			NOTE2,	
			NOTE3,	
			NOTE4,	
			ADDTIME,	
			LOVE_ID
		) values (
			#{LOVEUSER},	
			#{FROMLOVEUSER},	
			#{LOVETIME},	
			#{NOTE1},	
			#{NOTE2},	
			#{NOTE3},	
			#{NOTE4},	
			#{ADDTIME},	
			#{LOVE_ID}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from T_LOVE
		where 
			LOVE_ID = #{LOVE_ID}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  T_LOVE
			set 
				LOVEUSER = #{LOVEUSER},
				FROMLOVEUSER = #{FROMLOVEUSER},
				NOTE3 = #{NOTE3},
				NOTE4 = #{NOTE4},
			LOVE_ID = LOVE_ID
			where 
				LOVE_ID = #{LOVE_ID}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			LOVEUSER,	
			FROMLOVEUSER,	
			LOVETIME,	
			NOTE1,	
			NOTE2,	
			NOTE3,	
			NOTE4,	
			ADDTIME,	
			LOVE_ID
		from 
			T_LOVE
		where 
			LOVE_ID = #{LOVE_ID}
	</select>
	
		<!-- 通过ID获取数据 -->
	<select id="findByUserId" parameterType="pd" resultType="pd">
		select 
			count(*) as count
		from 
			T_LOVE
		where 
			FROMLOVEUSER = #{FROMLOVEUSER}
			and 
			LOVEUSER = #{LOVEUSER}
			and ISVALIDATE='T'
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.LOVEUSER,	
				a.FROMLOVEUSER,	
				a.LOVETIME,	
				a.NOTE1,	
				a.NOTE2,	
				a.NOTE3,	
				a.NOTE4,	
				a.ADDTIME,	
				a.LOVE_ID
		from 
				T_LOVE a
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.LOVEUSER,	
				a.FROMLOVEUSER,	
				a.LOVETIME,	
				a.NOTE1,	
				a.NOTE2,	
				a.NOTE3,	
				a.NOTE4,	
				a.ADDTIME,	
				a.LOVE_ID
		from 
				T_LOVE a
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from T_LOVE
		where 
			LOVE_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>