<!DOCTYPE html>
<html lang="zh" class="hb-loaded"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="x5-orientation" content="portrait">
    <link rel="apple-touch-icon-precomposed" href="http://img.feekr.com/image/ios/feekr_57.png">
    <link rel="apple-touch-icon-precomposed" href="http://img.feekr.com/image/ios/feekr_72.png" sizes="72x72">
    <link rel="apple-touch-icon-precomposed" href="http://img.feekr.com/image/ios/feekr_76.png" sizes="76x76">
    <link rel="apple-touch-icon-precomposed" href="http://img.feekr.com/image/ios/feekr_114.png" sizes="114x114">
    <link rel="apple-touch-icon-precomposed" href="http://img.feekr.com/image/ios/feekr_120.png" sizes="120x120">
    <link rel="apple-touch-icon-precomposed" href="http://img.feekr.com/image/ios/feekr_152.png" sizes="152x152">
    <link rel="stylesheet" type="text/css" href="./css/index.css">    
    <script async="" src="./js/analytics.js"></script>
    <script type="text/javascript" src="./js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="./js/template.js"></script>
    <script type="text/javascript" src="./js/config.js"></script>
    <script type="text/javascript" src="./js/utils.js"></script>
    <script type="text/javascript" src="./js/fastclick.js"></script>
    <script type="text/javascript" src="./js/swiper.jquery.min3.3.1.js"></script>
    <script type="text/javascript" src="./js/jquery.lazyload.min.js"></script>  
      <script src="./js/jweixin-1.0.0.js"></script>
    <title>觅对</title>

</head>
<body >
<div id="global-overlayer" class="global-overlayer" style="display: none;"></div>
<div id="global-loading" class="global-loading" style="display: none;">
    <div class="spinner">
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
    </div>
    <p class="loading-txt">加载中...</p>
</div>
<div class="global-alert">
    <div class="alert-content"></div>
</div>
<script type="text/html" id="nav-tpl">
    <div class="nav">
        <nav class="nav-wrap table-mode">
            {{each nav as v i}}

            <div class="table-cell">
                {{if v.current}}
                <a class=" nav-menu nav-{{i}} v-link-active" href="{{v.path}}">
                    <span class="iconfont {{v.activeIcon}}"></span>
                    <span class="nav-name">{{v.name}}</span>
                </a>
                {{else}}
                <a class="nav-menu nav-{{i}}" href="{{v.path}}">
                    <span class="iconfont {{v.icon}}"></span>
                    <span class="nav-name">{{v.name}}</span>
                </a>
                {{/if}}
            </div>
            {{/each}}
        </nav>
    </div>
</script>
<script>
    $(function () {
        var configData = {
                nav: [
                    {
                        icon: 'icon-shouyenormal',
                        name: '首页',
                        activeIcon: 'icon-shouyepressed',
                        path: '/',
                        from: 'navindex'
                    },
                    {
                        icon: 'icon-jingxuannormal',
                        name: '精选',
                        activeIcon: 'icon-jingxuanpressed',
                        path: 'http://h5.feekr.com/new/catalog',
                        from: 'navselection'
                    },
                    {
                        icon: 'icon-gongluenormal',
                        name: '攻略',
                        activeIcon: 'icon-gonglvepressed',
                        path: '/guide/strategy',
                        from: 'navguide'
                    },
                    {
                        icon: 'icon-wodenormal',
                        name: '我的',
                        activeIcon: 'icon-wodepressed',
                        path: '/user',
                        from: 'navmypage'
                    }
                ]
            },
            isNav = false,
            from;
        configData.nav = configData.nav.map(function (v, i) {
            if (location.pathname == v.path) {
                v.current = true;
                isNav = true;
            }
            return v;
        });

        if (isNav) {

            from = configData.nav.filter(function (val, idx) {
                if(val.current) {
                    return val.from
                }
            });

            configData.nav = configData.nav.map(function (v, i) {
                v.path = v.path + '?pv_from=' + from[0].from + '';
                return v;
            });

            $('body').append(template('nav-tpl', configData))
        }

    })
</script>    
        <div class="inner-wrap home-wrap theme-mode nav-space">
        <header class="back-title" style="display: none">
            <span>首页</span>
            <a href="http://wap.feekr.com/" class="iconfont icon-feekr" data-target="clear"></a>
            <a href="http://wap.feekr.com/subscribe" class="pull-right sub-btn tip-wrap" data-target="clear">订阅<span class="tip"></span></a>
        </header>
        <div class="slide-wrap swiper-container swiper-container-horizontal" data-target="clear">
            <!--广告位-->
            <div class="swiper-wrapper" style="transform: translate3d(-3200px, 0px, 0px); transition-duration: 300ms;"><a class="item swiper-slide swiper-slide-duplicate" href="http://fly.feekr.com/ad?id=65" data-swiper-slide-index="4" style="width: 640px;">
            <img class="thumb-slide swiper-lazy swiper-lazy-loaded" alt="" src="images/01.jpg">

            
        </a>
        <a class="item swiper-slide" href="http://fly.feekr.com/ad?id=66" data-swiper-slide-index="0" style="width: 640px;">
            <img class="thumb-slide swiper-lazy swiper-lazy-loaded" alt="" src="./js/0228224dd7bc75109c854df4dcdfcd8b3f4163.jpg">
<!--            -->

            
        </a>
        
        <a class="item swiper-slide" href="http://fly.feekr.com/ad?id=64" data-swiper-slide-index="1" style="width: 640px;">
            <img class="thumb-slide swiper-lazy swiper-lazy-loaded" alt="" src="images/01.jpg">
<!--            -->
<!--            <p class="title">北京CC咖啡</p>-->
<!--            -->

            
        </a>
        
        <a class="item swiper-slide" href="http://fly.feekr.com/ad?id=62" data-swiper-slide-index="2" style="width: 640px;">
            <img class="thumb-slide swiper-lazy swiper-lazy-loaded" alt="" src="./js/1002130cfd095e6b7853c21449e4e01725e3f3.jpg">
<!--            -->
<!--            <p class="title">上海K+烘焙</p>-->
<!--            -->

            
        </a>
        
        <a class="item swiper-slide swiper-slide-prev" href="http://fly.feekr.com/ad?id=63" data-swiper-slide-index="3" style="width: 640px;">
            <img class="thumb-slide swiper-lazy swiper-lazy-loaded" alt="" src="./js/100057170e65ae552ce0242d2d5495bc04feb9.jpg">
<!--            -->
<!--            <p class="title">广州168木工方</p>-->
<!--            -->

            
        </a>
        
        <a class="item swiper-slide swiper-slide-active" href="http://fly.feekr.com/ad?id=65" data-swiper-slide-index="4" style="width: 640px;">
            <img class="thumb-slide swiper-lazy swiper-lazy-loaded" alt="" src="images/01.jpg">
<!--            -->
<!--            <p class="title">招募飞小编</p>-->
<!--            -->

            
        </a>
        <a class="item swiper-slide swiper-slide-duplicate swiper-slide-next" href="http://fly.feekr.com/ad?id=66" data-swiper-slide-index="0" style="width: 640px;">
            <img class="thumb-slide swiper-lazy swiper-lazy-loaded" alt="" src="./js/0228224dd7bc75109c854df4dcdfcd8b3f4163.jpg">
<!--            -->

            
        </a></div>
            <div class="swiper-pagination swiper-pagination-bullets"><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span></div>
        </div>
        <div class="list-wrap body-space">
            <div class="item-container">
        <div class="date-title">
            <p class="regular-font">今日</p>

            <p class="sub-title">觅对，每天为你推荐</p>
        </div>
        
        
        <div class="column-item-wrap">
            <div class="column-info">
                <a href="http://wap.feekr.com/column/article?id=k5lqmw==&amp;pv_from=symrtj" class="column-item column-section" data-target="ajax">
                    <img data-original="http://newscover.b0.upaiyun.com/2016/09/14/23220627e80d38fba2f3d4359b87b8f0943749.jpg!600X400" alt="" class="" src="images/06.jpg" style="display: block;">
                </a>
             
            </div>
             
                <div class="nickname">WILL</div>
                <a href="#">
                <div class="avatar"><img src="images/mi_heart@4x.png">
                </div>
                </a>
            
                <div style="clear:both"></div>
                <div class="title regular-font tags">
                <span>23岁</span>
                 <span>180cm</span>
                 <span>本科</span>
                 <span>郑州</span>
                </div>
           
        </div>

        
        
        
      

        
        
        
        
        <div class="date-title">
            <p class="regular-font">昨日</p>

            <p class="sub-title">时间，一刻也不等人</p>
        </div>
        
        
       
        <div class="column-item-wrap">
            <div class="column-info">
                <a href="http://wap.feekr.com/column/article?id=k5lqmw==&amp;pv_from=symrtj" class="column-item column-section" data-target="ajax">
                    <img data-original="http://newscover.b0.upaiyun.com/2016/09/14/23220627e80d38fba2f3d4359b87b8f0943749.jpg!600X400" alt="" class="" src="images/06.jpg" style="display: block;">
                </a>
             
            </div>
             
                <div class="nickname">WILL LIKE</div>
                <a href="#">
                <div class="avatar"><img src="images/mi_heart@3x.png">
                </div>
                </a>
            
                <div style="clear:both"></div>
                <div class="title regular-font tags">
                <span>23岁</span>
                 <span>180cm</span>
                 <span>本科</span>
                 <span>郑州</span>
                </div>
           
        </div>
        
        
       
        
        
        

        <div class="date-title">
            <p class="regular-font">往期推荐</p>
        </div>
        
        
        
         <div class="column-item-wrap">
            <div class="column-info">
                <a href="http://wap.feekr.com/column/article?id=k5lqmw==&amp;pv_from=symrtj" class="column-item column-section" data-target="ajax">
                    <img data-original="http://newscover.b0.upaiyun.com/2016/09/14/23220627e80d38fba2f3d4359b87b8f0943749.jpg!600X400" alt="" class="" src="images/06.jpg" style="display: block;">
                </a>
             
            </div>
             
                <div class="nickname">WILL LIKE</div>
                <a href="#">
                <div class="avatar"><img src="images/mi_heart@4x.png">
                </div>
                </a>
            
                <div style="clear:both"></div>
                <div class="title regular-font tags">
                <span>23岁</span>
                 <span>180cm</span>
                 <span>硕士</span>
                 <span>郑州</span>
                </div>
           
        </div>
    
        
        </div>
            <div class="loading-notice" style="display: none;"><div id="global-inline-loading" class="global-inline-loading global-loading"><div class="spinner"><div class="rect2"></div><div class="rect3"></div><div class="rect4"></div></div><span>加载中...</span></div></div>
        </div>
    </div>
    <script type="text/html" id="slidepic-tpl">
        {{each slideItem as v i}}
        <a class="item swiper-slide" href="{{v.url}}">
            <img
                data-src="{{v.thumb}}"
                class="thumb-slide swiper-lazy" alt="">
<!--            {{if v.title}}-->
<!--            <p class="title">{{v.title}}</p>-->
<!--            {{/if}}-->

            <div class="swiper-lazy-preloader">
                <div class="global-inline-loading global-loading">
                    <div class="spinner">
                        <div class="rect2"></div>
                        <div class="rect3"></div>
                        <div class="rect4"></div>
                    </div>
                </div>
            </div>
        </a>
        {{/each}}
    </script>
    <script type="text/html" id="recommend-tpl">
        {{if recommend.today && recommend.today.length > 0}}
        <div class="date-title">
            <p class="regular-font">今日</p>

            <p class="sub-title">Feekr，每天为你推荐</p>
        </div>
        {{each recommend.today as v i}}
        {{if v.type == "city"}}
        <a class=" theme-item-index" href="{{'themedetail' | router}}?id={{v.id}}&type=city&pv_from=symrtj"
           data-target="ajax">
            <div class="thumb-wrap">
                <img class="lazy" data-original="{{v.cover}}!600X400">
            </div>
            <div class="theme-desc">
                <div class="content regular-font">{{v.title}}</div>
                {{if v.fxb.length > 1}}
                <div class="fxb-list">
                    {{each v.fxb as val idx}}
                    <span class="fxb-avatar"><img class="lazy" data-original="{{val.avatar}}!50X50" alt=""></span>
                    {{/each}}
                    {{if v.fxbCount == 1}}
                    <span>{{v.fxbCount}} 位飞小编推荐</span>
                    {{else if v.fxbCount > 1}}
                    <span>等 {{v.fxbCount}} 位飞小编推荐</span>
                    {{/if}}
                </div>
                {{/if}}
            </div>
        </a>
        {{else if v.type == 'official'}}
        <div class="column-item-wrap">
            <div class="column-info">
                <a href="{{'article' | router}}?id={{v.id}}&pv_from=symrtj" class="column-item column-section" data-target="ajax">
                    <img data-original="{{v.cover}}!600X400" alt="" class="lazy">
                </a>
                <a href="{{'officialColumnNew' | router}}?id={{v.columnId}}&pv_from=symrtj" class="avatar" data-target="ajax">
                    <img data-original="{{v.avatar}}!180X180" class="lazy">
                </a>
            </div>
            <a href="{{'article' | router}}?id={{v.id}}&pv_from=symrtj" class="column-title">
                <div class="nickname">{{v.column}}</div>
                <div class="title regular-font">{{v.title}}</div>
            </a>
        </div>

        {{else if v.type == 'special'}}
        <div class="column-item-wrap">
            <div class="column-info">
                <a href="{{'article' | router}}?id={{v.id}}&pv_from=symrtj" class="column-item column-section" data-target="ajax">
                    <img data-original="{{v.cover}}!600X400" alt="" class="lazy">
                </a>
                <a href="{{'author' | router}}?id={{v.columnId}}&pv_from=symrtj" class="avatar" data-target="ajax">
                    <img data-original="{{v.avatar}}!180X180" class="lazy">
                </a>
            </div>
            <a href="{{'article' | router}}?id={{v.id}}&pv_from=symrtj" class="column-title">
                <div class="nickname">{{v.column}}专栏</div>
                <div class="title regular-font">{{v.title}}</div>
            </a>
        </div>
        {{else}}
        <a href="{{'article' | router}}?id={{v.id}}&pv_from=symrtj" class="column-item {{if i == 0}} first-item {{/if}}"
           data-target="ajax">
            <img data-original="{{v.cover}}!600X400" alt="" class="lazy">
            <div class="title regular-font">{{v.title}}</div>
            <div class="tag">
                {{each v.tags as val idx}}
                <span>#{{val}}</span>
                {{/each}}
            </div>
        </a>
        {{/if}}
        {{/each}}
        {{/if}}
        {{if recommend.yesterday && recommend.yesterday.length > 0}}
        <div class="date-title">
            <p class="regular-font">昨日</p>

            <p class="sub-title">时间，一刻也不等人</p>
        </div>
        {{each recommend.yesterday as v i}}
        {{if v.type == "city"}}
        <a class=" theme-item-index" href="{{'themedetail' | router}}?id={{v.id}}&type=city&pv_from=symrtj"
           data-target="ajax">
            <div class="thumb-wrap">
                <img class="lazy" data-original="{{v.cover}}!600X400">
            </div>
            <div class="theme-desc">
                <div class="content regular-font">{{v.title}}</div>
                {{if v.fxb.length > 0}}
                <div class="fxb-list">
                    {{each v.fxb as val idx}}
                    <span class="fxb-avatar"><img class="lazy" data-original="{{val.avatar}}!50X50" alt=""></span>
                    {{/each}}
                    {{if v.fxbCount == 1}}
                    <span>{{v.fxbCount}} 位飞小编推荐</span>
                    {{else if v.fxbCount > 1}}
                    <span>等 {{v.fxbCount}} 位飞小编推荐</span>
                    {{/if}}
                </div>
                {{/if}}
            </div>
        </a>
        {{else if v.type == 'official'}}
        <div class="column-item-wrap">
            <div class="column-info">
                <a href="{{'article' | router}}?id={{v.id}}&pv_from=symrtj" class="column-item column-section" data-target="ajax">
                    <img data-original="{{v.cover}}!600X400" alt="" class="lazy">
                </a>
                <a href="{{'officialColumnNew' | router}}?id={{v.columnId}}&pv_from=symrtj" class="avatar" data-target="ajax">
                    <img data-original="{{v.avatar}}!180X180" class="lazy">
                </a>
            </div>
            <a href="{{'article' | router}}?id={{v.id}}&pv_from=symrtj" class="column-title">
                <div class="nickname">{{v.column}}</div>
                <div class="title regular-font">{{v.title}}</div>
            </a>
        </div>
        {{else if v.type == 'special'}}
        <div class="column-item-wrap">
            <div class="column-info">
                <a href="{{'article' | router}}?id={{v.id}}&pv_from=symrtj" class="column-item column-section" data-target="ajax">
                    <img data-original="{{v.cover}}!600X400" alt="" class="lazy">
                </a>
                <a href="{{'author' | router}}?id={{v.columnId}}&pv_from=symrtj" class="avatar" data-target="ajax">
                    <img data-original="{{v.avatar}}!180X180" class="lazy">
                </a>
            </div>
            <a href="{{'article' | router}}?id={{v.id}}&pv_from=symrtj" class="column-title">
                <div class="nickname">{{v.column}}专栏</div>
                <div class="title regular-font">{{v.title}}</div>
            </a>
        </div>
        {{else}}
        <a href="{{'article' | router}}?id={{v.id}}&pv_from=symrtj" class="column-item column-article" data-target="ajax">
            <img data-original="{{v.cover}}!600X400" alt="" class="lazy">
            <div class="title regular-font">{{v.title}}</div>
            <div class="tag">
                {{each v.tags as val idx}}
                <span>#{{val}}</span>
                {{/each}}
            </div>
        </a>
        {{/if}}
        {{/each}}
        {{/if}}

        <div class="date-title">
            <p class="regular-font">往期推荐</p>
        </div>
        {{include "ago-tpl"}}

    </script>
    <script id="ago-tpl" type="text/html">
        {{if recommend.ago && recommend.ago.length > 0}}
        {{each recommend.ago as v i}}
        {{if v.type == "city"}}
        <a class=" theme-item-index" href="{{'themedetail' | router}}?id={{v.id}}&type=city&pv_from=symrtj"
           data-target="ajax">
            <div class="thumb-wrap">
                <img class="lazy" data-original="{{v.cover}}!600X400">
            </div>
            <div class="theme-desc">
                <div class="content regular-font">{{v.title}}</div>
                {{if v.fxb.length > 0}}
                <div class="fxb-list">
                    {{each v.fxb as val idx}}
                    <span class="fxb-avatar"><img class="lazy" data-original="{{val.avatar}}!50X50" alt=""></span>
                    {{/each}}
                    {{if v.fxbCount == 1}}
                    <span>{{v.fxbCount}} 位飞小编推荐</span>
                    {{else if v.fxbCount > 1}}
                    <span>等 {{v.fxbCount}} 位飞小编推荐</span>
                    {{/if}}
                </div>
                {{/if}}
            </div>
        </a>
        {{else if v.type == 'official'}}
        <div class="column-item-wrap">
            <div class="column-info">
                <a href="{{'article' | router}}?id={{v.id}}&pv_from=symrtj" class="column-item column-section" data-target="ajax">
                    <img data-original="{{v.cover}}!600X400" alt="" class="lazy">
                </a>
                <a href="{{'officialColumnNew' | router}}?id={{v.columnId}}&pv_from=symrtj" class="avatar" data-target="ajax">
                    <img data-original="{{v.avatar}}!180X180" class="lazy">
                </a>
            </div>
            <a href="{{'article' | router}}?id={{v.id}}&pv_from=symrtj" class="column-title">
                <div class="nickname">{{v.column}}</div>
                <div class="title regular-font">{{v.title}}</div>
            </a>
        </div>
        {{else if v.type == 'special'}}
        <div class="column-item-wrap">
            <div class="column-info">
                <a href="{{'article' | router}}?id={{v.id}}&pv_from=symrtj" class="column-item column-section" data-target="ajax">
                    <img data-original="{{v.cover}}!600X400" alt="" class="lazy">
                </a>
                <a href="{{'author' | router}}?id={{v.columnId}}&pv_from=symrtj" class="avatar" data-target="ajax">
                    <img data-original="{{v.avatar}}!180X180" class="lazy">
                </a>
            </div>
            <a href="{{'article' | router}}?id={{v.id}}&pv_from=symrtj" class="column-title">
                <div class="nickname">{{v.column}}专栏</div>
                <div class="title regular-font">{{v.title}}</div>
            </a>
        </div>
        {{else}}
        <a href="{{'article' | router}}?id={{v.id}}&pv_from=symrtj" class="column-item column-article" data-target="ajax">
            <img data-original="{{v.cover}}!600X400" alt="" class="lazy">
            <div class="title regular-font">{{v.title}}</div>
            <div class="tag">
                {{each v.tags as val idx}}
                <span>#{{val}}</span>
                {{/each}}
            </div>
        </a>
        {{/if}}
        {{/each}}
        {{/if}}
    </script>
    <script>
        $(function () {
            var
                slideTpl,
                slideContainer = $('.swiper-wrapper'),
                recommendTpl,
                recommendContainer = $('.item-container'),
                page = 1,
                win = $(window),
                DocHeight,
                isScroll = true;

//            轮播
            $.getAjax({
                url: api.slideThumb,
                type: "GET",
                data: {"code": "strategy"}
            }, function (res) {
                var data = res;
                slideTpl = template('slidepic-tpl', data.result);
                slideContainer.html(slideTpl);

                var swiper = new Swiper('.slide-wrap', {
                    pagination: '.swiper-pagination',
                    loop: true,
                    preloadImages: false,
                    lazyLoading: true,
                    autoplay: 3000,
                    autoplayDisableOnInteraction: false
                });
            });


            var store = sessionStorage,
                storeData;
//  滚动加载更多
            function loadMore(p) {
                win.on('scroll', function () {
                    if (isScroll) {
                        DocHeight = $(document).height();
                        if ($(window).scrollTop() + document.documentElement.clientHeight > DocHeight - 600) {
                            isScroll = false;
                            $.getAjax({
                                url: api.selection,
                                data: {page: store.page},
                                status: false,
                                beforeSend: function () {
                                    $('.loading-notice').inlineLoading({
                                        text: '加载中...'
                                    });
                                }
                            }, function (res) {
                                var data = res;
                                $('.loading-notice').inlineLoading({
                                    status: 'close'
                                });

                                if (data.result.recommend.ago.length > 0 && data.result.page) {
                                    recommendTpl = template('ago-tpl', data.result);
                                    recommendContainer.append(recommendTpl);
                                    store.page = data.result.page;
                                    isScroll = true;
                                    storeData.recommend.ago = storeData.recommend.ago.concat(data.result.recommend.ago);

                                    $("img.lazy").lazyload({
                                        effect: "fadeIn",
                                        threshold: 200
                                    }).removeClass('lazy');

                                } else {
                                    isScroll = false;
                                }
                            });
                        }
                    }
                });
            }

            //        sessionStorage存储列表数据
            $(document).on('click', 'a[data-target=ajax]', function (e) {
                e.preventDefault();
                var url = $(this).attr('href');

                store.listData = JSON.stringify(storeData);
//            获取当前列表位置
                store.top = $(this).offset().top;
                store.type = "index";
                location.href = url;
            });
            //  判断是否有本地存储
            if (store.type == "index") {
                storeData = JSON.parse(store.listData);
                recommendTpl = template('recommend-tpl', storeData);
                recommendContainer.html(recommendTpl);

                $.loading({
                    status: false
                });

                $("img.lazy").lazyload({
                    effect: "fadeIn",
                    threshold: 200
                }).removeClass('lazy');

                setTimeout(function () {
                    $('html, body').scrollTop(store.top - 100);
                }, 300);

            } else {
                $.getAjax({
                    url: api.selection
                }, function (res) {
                    var data = res;
                    storeData = $.extend(true, {}, data.result);
                    storeData.recommend.ago = [];
                    recommendTpl = template('recommend-tpl', data.result);
                    recommendContainer.html(recommendTpl);
                    store.page = data.result.page;
                    $("img.lazy").lazyload({
                        effect: "fadeIn",
                        threshold: 200
                    }).removeClass('lazy');
                });
            }

            loadMore();

            $.wxShare({
                appId: 'wxa4c38bbc0b46c147',
                timestamp: 1474959440,
                nonceStr: '03jkCEXSED8OWck6',
                signature: '2e619dc72237a90e29346220c3b85fb9c80a3e00',
                title: 'Feekr，小众旅行信息聚合平台', // 分享标题
                link: location.href, // 分享链接
                imgUrl: "http://res.ifeekr.com/logo/feekr_logo.jpg", // 分享图标
                desc: '每天发布精品原创内容，推荐小众特色，私藏冷门，人少好玩的旅行地。' // 分享描述
            });

            if($.getCookie('uid')) {
                $.getAjax({
                    url: api.readSub,
                    data: {authUid: $.getCookie('uid')},
                    beforeSend: function() {
                        $.loading({
                            status: false
                        })
                    }
                }, function (res) {
                    if(res.result.unread) {
                        $('.sub-btn .tip').show();
                    }
                });
            }
        });
    </script>

    <!--数据统计-->
    <div style="display:none;">
        <script async="async">
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-74126045-1', 'auto');
            ga('send', 'pageview');
        </script>
    </div>


<div class="nav">
        <nav class="nav-wrap table-mode">
            

            <div class="table-cell">
                
                <a class=" nav-menu nav-0 v-link-active" href="01.Feekr_首页.html">
                    <span class="iconfont icon-shouyepressed"></span>
                    <span class="nav-name">首页</span>
                </a>
                
            </div>
            
            <div class="table-cell">
                
                <a class="nav-menu nav-3" href="05.Feekr_个人中心.html">
                    <span class="iconfont icon-wodenormal"></span>
                    <span class="nav-name">我的</span>
                </a>
                
            </div>
            
        </nav>
    </div></body></html>