<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MySetMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into T_MYSET(
			USERID,	
			ISHIDDEN,	
			NOTE1,	
			NOTE2,	
			NOTE3,	
			NOTE4,	
			NOTE5,	
			NOTE6,	
			NOTE7,	
			NOTE8,	
			ADDTIME,	
			MYSET_ID
		) values (
			#{USERID},	
			#{ISHIDDEN},	
			#{NOTE1},	
			#{NOTE2},	
			#{NOTE3},	
			#{NOTE4},	
			#{NOTE5},	
			#{NOTE6},	
			#{NOTE7},	
			#{NOTE8},	
			#{ADDTIME},	
			#{MYSET_ID}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from T_MYSET
		where 
			MYSET_ID = #{MYSET_ID}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  T_MYSET
			set 
				USERID = #{USERID},
				ISHIDDEN = #{ISHIDDEN},
			MYSET_ID = MYSET_ID
			where 
				MYSET_ID = #{MYSET_ID}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			USERID,	
			ISHIDDEN,	
			NOTE1,	
			NOTE2,	
			NOTE3,	
			NOTE4,	
			NOTE5,	
			NOTE6,	
			NOTE7,	
			NOTE8,	
			ADDTIME,	
			MYSET_ID
		from 
			T_MYSET
		where 
			MYSET_ID = #{MYSET_ID}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.USERID,	
				a.ISHIDDEN,	
				a.NOTE1,	
				a.NOTE2,	
				a.NOTE3,	
				a.NOTE4,	
				a.NOTE5,	
				a.NOTE6,	
				a.NOTE7,	
				a.NOTE8,	
				a.ADDTIME,	
				a.MYSET_ID
		from 
				T_MYSET a
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.USERID,	
				a.ISHIDDEN,	
				a.NOTE1,	
				a.NOTE2,	
				a.NOTE3,	
				a.NOTE4,	
				a.NOTE5,	
				a.NOTE6,	
				a.NOTE7,	
				a.NOTE8,	
				a.ADDTIME,	
				a.MYSET_ID
		from 
				T_MYSET a
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from T_MYSET
		where 
			MYSET_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>